body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.chat-screen{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: rgb(234, 8, 85);
    height: 7vh;
    width: 100%;
}
.profile{
    font-family: Arial, Helvetica, sans-serif, cursive;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-left: 5px;
    color: whitesmoke;
}
img{
    top: 5px;
}
.signout{
    font-size: 17px;
    background-color: rgba(9, 7, 121, 0.75);
    color: cornsilk;
    border-radius: 30%;
    width: 20vw;
    height: 5vh;
}
.chat_messages{
    background-image: url("../image/background.png");
    background-size: cover;
    background-attachment: fixed;
    height: 85vh;
    width: 100%;    
    color:whitesmoke;
    font-size: 19px;
}
.chat_input_btn_container{
    display: flex;
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat_input_msg {
    background-color: rgb(165, 4, 98);
    height: 7vh;
    width: 85vw;
    color: whitesmoke;
    font-size: 19px;
}
.send {
    background-color: rgb(18, 222, 109);
    width: 20vw;
    height: 7.5vh;
    font-size: 18px;
}
/* .settings{
    background-color: rgb(234, 8, 85);
    display: flex;
    flex: 1;
    width: 100%;
    height: 8vh;
} */
.videocall{
    display: flex;
    justify-content: space-between;
    
}